{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homecam.css') }}">
<script>
    function startTime() {
        const today = new Date();
        let year = today.getFullYear();
        let month = today.getMonth()+1; //January is 0!
        let day = today.getDate();
        let h = today.getHours();
        let m = today.getMinutes();
        let s = today.getSeconds();
        month = checkTime(month);
        day = checkTime(day);
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML = year + "-" + month + "-" + day + " " + h + ":" + m + ":" + s;
        setTimeout(startTime, 1000);
    }

    function checkTime(i) {
        if (i < 10) {i = "0" + i};
        return i;
    }
</script>
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Home Cam</h1>
    <img src="/video" class="img-fluid" alt="Home Camera Stream">
    <div class="footer">
        date: <span id="txt"></span>
    </div>
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-success btn-block" onclick="surveillance_on()">Surveillance mode ON</button>
        </div>
        <div class="col">
            <button class="btn btn-danger btn-block" onclick="surveillance_off()">Surveillance mode OFF</button>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        startTime();
    });
</script>
{% endblock %}

{% block scripts %}
<script>
    function surveillance_on() {
        fetch('/surveillance_on')
            .then(response => console.log(response))
            .catch(error => console.error(error));
    }

    function surveillance_off() {
        fetch('/surveillance_off')
            .then(response => console.log(response))
            .catch(error => console.error(error));
    }
</script>
{% endblock %}
