<html>
    <head>
        <title>Home Cam</title>
        <style>
            body { text-align: center; font-family: Arial, sans-serif; }
            h1 { color: #333; }
            .footer { margin-top: 20px; color: #666; }
        </style>
        <script>
            function startTime() {
                const today = new Date();
                let year = today.getFullYear();
                let month = today.getMonth()+1; //January is 0!
                let day = today.getDate();
                let h = today.getHours();
                let m = today.getMinutes();
                let s = today.getSeconds();
                month = checkTime(month);
                day = checkTime(day);
                m = checkTime(m);
                s = checkTime(s);
                document.getElementById('txt').innerHTML = year + "-" + month + "-" + day + " " + h + ":" + m + ":" + s;
                setTimeout(startTime, 1000);
            }

            function checkTime(i) {
                if (i < 10) {i = "0" + i};
                return i;
            }
        </script>
    </head>
    <body onload="startTime()">
        <h1>Home Cam</h1>
        <img src="/video" width="320" height="240">
        <div class="footer">
            date: <span id="txt"></span>
        </div>
    </body>
</html>