<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>
</head>
<body>
    <h1>Control Panel</h1>
    <button onclick="light1_On()">Turn Light1 On</button>
    <button onclick="light1_Off()">Turn Light1 Off</button>
    <br><br>
    <button onclick="light2_On()">Turn Light2 On</button>
    <button onclick="light2_Off()">Turn Light2 Off</button>
    <br><br>
    <button onclick="doorOpen()">Open Door</button>
    <button onclick="doorClose()">Close Door</button>
    <br><br>
    <button onclick="windowOpen()">Open Window</button>
    <button onclick="windowClose()">Close Window</button>

    <script>
        function light1_On() {
            fetch('/light1_on')
                .then(response => console.log(response))
                .catch(error => console.error(error));
        }

        function light1_Off() {
            fetch('/light1_off')
                .then(response => console.log(response))
                .catch(error => console.error(error));
        }
        
        function light2_On() {
            fetch('/light2_on')
                .then(response => console.log(response))
                .catch(error => console.error(error));
        }

        function light2_Off() {
            fetch('/light2_off')
                .then(response => console.log(response))
                .catch(error => console.error(error));
        }

        function doorOpen() {
            fetch('/door_open')
                .then(response => console.log(response))
                .catch(error => console.error(error));
        }

        function doorClose() {
            fetch('/door_close')
                .then(response => console.log(response))
                .catch(error => console.error(error));
        }

        function windowOpen() {
            fetch('/window_open')
                .then(response => console.log(response))
                .catch(error => console.error(error));
        }

        function windowClose() {
            fetch('/window_close')
                .then(response => console.log(response))
                .catch(error => console.error(error));
        }

        
    </script>
</body>
</html>
